body
{
	background: white;
}
#first-content{
	
	height: 25%;
	position: fixed;
	width: 100%;
	z-index:1;
}
#contenido
{
	width: 100%;
	padding-left:5%;
	padding-right: 5%;
	text-align: center;
	box-sizing:border-box;
}
#imgTitle
{
	padding-left: 15%;
	
}
#logo
{
	padding-top: 3%;
	width: 12%;
	height:auto;
}
#page{
	position: relative;
	top: 25%;
}
.imgPrueba
{
	width:100%;
	height:auto;
	max-width: 100%;
}
#contenedor
{
	width:100%;
	display: block;
}
#contenedor2
{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}
#cuadro1
{
	float: left;
	width: 24%; 
	padding: 2%;
	box-sizing:border-box;
}
#cuadro2
{
	float: left;
	width: 25%;
	padding-left: 6%;
	padding-top: 2%;
	box-sizing:border-box;
}
#cuadro3
{
	float: left;
	width: 23%;
	padding-left: 10%;
	padding-top: 2%;
	box-sizing:border-box;
}
#cuadro4
{
	float: left;
	width: 28%;
	padding: 2%;
	box-sizing:border-box;
}
#imgPrueba
{
	width:100%;
}
@media screen and (max-width: 650px)
{
	#first-content
	{
		height: 15%;
		position: fixed;
		width: 100%;
		z-index:1;
	}
	#page{
	position: relative;
	top: 15%;
	}
	#contenedor
	{
		
	}
	#cuadro1
	{
		width: 60%;
		padding-left:5%;
		padding-right:5%;
		box-sizing:border-box;
	}
	#cuadro2
	{
		width:40%;
		padding-left:5%;
		padding-right:5%;
		box-sizing:border-box;
	}
	#cuadro3
	{
		width: 70%;
		padding-left:5%;
		padding-right:5%;
		box-sizing:border-box;
	}
	#cuadro4
	{
		width: 30%;
		padding-left:5%;
		padding-right:5%;
		box-sizing:border-box;
	}
}
@media screen and (max-width: 400px)
{
	#contenedor
	{
		
	}
	#first-content
	{
		height: 8%;
		position: fixed;
		width: 100%;
		z-index:1;
	}
	#page{
	position: relative;
	top: 8%;
	}
	#cuadro1
	{
		width: 100%;
		padding-left:5%;
		padding-right:5%;
		box-sizing:border-box;
	}
	#cuadro2
	{
		width:100%;
		padding-left:5%;
		padding-right:5%;
		box-sizing:border-box;
	}
	#cuadro3
	{
		width: 80%;
		padding-left:5%;
		padding-right:5%;
		box-sizing:border-box;
	}
	#cuadro4
	{
		width: 20%;
		padding-left:5%;
		padding-right:5%;
		box-sizing:border-box;
	}
}
